<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.fypapp">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FYPApp">
        <activity android:name=".activity.FirebaseUIActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SearchResultsActivity"/>
        <activity android:name=".activity.EditSearchActivity"/>
        <activity android:name=".activity.ExperienceIndexActivity"/>
        <activity android:name=".activity.EditProfileActivity"/>
        <activity android:name=".activity.EditJobExperienceActivity"/>
        <activity android:name=".activity.UserTypeActivity"/>
        <activity android:name=".activity.EditProfileIndexActivity"/>
        <activity android:name=".activity.EditNameActivity"/>
        <activity android:name=".activity.EditLocationActivity"/>
        <activity android:name=".activity.EditProfileHeadlineActivity"/>
        <activity android:name=".activity.EditProfilePhotoActivity"/>
        <activity android:name=".activity.EditInterestsActivity"/>
        <activity android:name=".activity.EditSkillsActivity"/>
        <activity android:name=".activity.EditSearchSkillsActivity"/>
        <activity android:name=".activity.EditSearchInterestsActivity"/>
        <activity android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.project.fypapp.fileprovider"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>
</manifest>