<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.fypapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FYPApp">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SearchResultsActivity"/>
        <activity android:name=".activity.EditSearchActivity"/>
        <activity android:name=".activity.ExperienceIndexActivity"/>
        <activity android:name=".activity.EditProfileActivity"/>
        <activity android:name=".activity.EditJobExperienceActivity"/>
        <activity android:name=".activity.UserTypeActivity"/>
        <activity android:name=".activity.FirebaseUIActivity"/>
    </application>

</manifest>